<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>575455628342-ieekbl8iuu9upnj64p1j6fh9b8brbi8v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.575455628342-ieekbl8iuu9upnj64p1j6fh9b8brbi8v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>575455628342-ietgkhu078gmv6u1co2hfakqtj2njqi5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBtlOF-MepFTHFVYfe2QLI7vIbCmcDpQGM</string>
	<key>GCM_SENDER_ID</key>
	<string>575455628342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>dummy-project-12ffb</string>
	<key>STORAGE_BUCKET</key>
	<string>dummy-project-12ffb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:575455628342:ios:6360fa04c0b0130bdfdc97</string>
</dict>
</plist>